@font-face {
	font-family: Fipps;
	src: url(Fipps-Regular.otf);
}

html {
	font-family: Arial;
}

#header {
	width: 80%;
	height: 100px;
	font-family: Fipps;
	background: #2060c0;
	text-align: center;
	padding-top: 10px;
} 
