@font-face {
	font-family: Fipps;
	src: url(Fipps-Regular.otf);
}

html {
	font-family: Arial;
}

#header {
	margin-left: 10%;
	width: 80%;
	height: 100px;
	font-family: Fipps;
	background: #2060C0;
	text-align: center;
	padding-top: 10px;
} 

#body {
	height: 490px;
	margin-left: 10%;
	margin-top: -505px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 80%;
	background: #CCCCCC;
}
#side {
	background: orange;
	width: 9%;
	height: 610px;
	margin-top: -110px;
	padding-top: 10px;
	padding-bottom: 10px;
}
